@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.BigShoulder {
  font-family: 'Big Shoulders', sans-serif;
}
.Bai {
  font-family: 'Bai Jamjuree', sans-serif;
}

@font-face {
    font-family: 'COPRGTB';
    src: url('./assets/fonts/COPRGTB.TTF');
}
@font-face {
    font-family: 'COOPBL';
    src: url('./assets/fonts/COOPBL.TTF');
}
@font-face {
    font-family: 'ERASBD';
    src: url('./assets/fonts/ERASBD.TTF');
}
@font-face {
    font-family: 'georgiab';
    src: url('./assets//fonts/georgiab.ttf');
}
@font-face {
    font-family: 'ROCKB';
    src: url('./assets/fonts/ROCKB.TTF');
}
@font-face {
    font-family: 'SCHLBKB';
    src: url('./assets/fonts/SCHLBKB.TTF');
}
@font-face {
    font-family: 'segoeuiz';
    src: url('./assets/fonts/segoeuiz.TTF');
}
@font-face {
    font-family: 'seguibl';
    src: url('./assets/fonts/seguibl.TTF');
}
@font-face {
    font-family: 'SitkaB';
    src: url('./assets/fonts/SitkaB.TTF');
}
@font-face {
    font-family: 'tahomabd';
    src: url('./assets/fonts/tahomabd.TTF');
}
@font-face {
    font-family: 'timesbd';
    src: url('./assets/fonts/timesbd.TTF');
}
@font-face {
    font-family: 'verdanab';
    src: url('./assets/fonts/verdanab.TTF');
}
@font-face {
    font-family: 'ITC';
    src: url('./assets/fonts/Elan ITC Std Medium.otf');
}
@font-face {
    font-family: 'ITC2';
    src: url('./assets/fonts/Elan ITC Std Book.otf');
}

